In [114]:
import pytesseract
import pandas as pd
from PIL import Image
import re

In [113]:
!pip install re

WARNING: Ignoring invalid distribution -umpy (c:\users\roderick\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\roderick\anaconda3\lib\site-packages)
ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re
WARNING: Ignoring invalid distribution -umpy (c:\users\roderick\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\roderick\anaconda3\lib\site-packages)

In [12]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

In [538]:
text = pytesseract.image_to_string(Image.open('uotabel2.jpg'), lang='eng')

In [539]:
text

'Party Member Gold Earned\n\n@® Bastoz 1.616.941\n@® Ferumnbras 696,069\n> Loko Da Silva 391375\n® swvia 174.326\nRolderick 798,375\nTroni 163.503\nVB 47.694\nbra 218,31\n\n® Bele Belinha 373.454\n'

In [540]:
cleaned_string = text
cleaned_string = cleaned_string.replace("Party","")
cleaned_string = cleaned_string.replace("Member","")
cleaned_string = cleaned_string.replace("Gold","")
cleaned_string = cleaned_string.replace("Earned","")

In [541]:
cleaned_string

'   \n\n@® Bastoz 1.616.941\n@® Ferumnbras 696,069\n> Loko Da Silva 391375\n® swvia 174.326\nRolderick 798,375\nTroni 163.503\nVB 47.694\nbra 218,31\n\n® Bele Belinha 373.454\n'

In [542]:
cleaned_string = cleaned_string.replace("@", "")
cleaned_string = cleaned_string.replace("®","")
cleaned_string = cleaned_string.replace("\n\n","\n")
cleaned_string = cleaned_string.replace(">","")
cleaned_string = cleaned_string.strip()

In [545]:
new_string = re.sub(r'(?<=\D)\s+(?=\d)', '\n', cleaned_string)
new_string.strip()

'Bastoz\n1.616.941\n Ferumnbras\n696,069\n Loko Da Silva\n391375\n swvia\n174.326\nRolderick\n798,375\nTroni\n163.503\nVB\n47.694\nbra\n218,31\n Bele Belinha\n373.454'

In [546]:
print(new_string)

Bastoz
1.616.941
 Ferumnbras
696,069
 Loko Da Silva
391375
 swvia
174.326
Rolderick
798,375
Troni
163.503
VB
47.694
bra
218,31
 Bele Belinha
373.454

In [547]:
lines = new_string.split("\n")

In [548]:
lines = [x.strip() for x in lines]

In [549]:
lines

['Bastoz',
 '1.616.941',
 'Ferumnbras',
 '696,069',
 'Loko Da Silva',
 '391375',
 'swvia',
 '174.326',
 'Rolderick',
 '798,375',
 'Troni',
 '163.503',
 'VB',
 '47.694',
 'bra',
 '218,31',
 'Bele Belinha',
 '373.454']

In [550]:
names = []
numbers = []
for element in lines:
    if element.replace(".", "").replace(",", "").isdigit():
        numbers.append(element)
    else:
        names.append(element)

In [551]:
names

['Bastoz',
 'Ferumnbras',
 'Loko Da Silva',
 'swvia',
 'Rolderick',
 'Troni',
 'VB',
 'bra',
 'Bele Belinha']

In [552]:
numbers

['1.616.941',
 '696,069',
 '391375',
 '174.326',
 '798,375',
 '163.503',
 '47.694',
 '218,31',
 '373.454']

In [555]:
df = pd.DataFrame({'Party Member' :names, 'Gold Earned': numbers})

In [556]:
df

    Party Member Gold Earned
0         Bastoz   1.616.941
1     Ferumnbras     696,069
2  Loko Da Silva      391375
3          swvia     174.326
4      Rolderick     798,375
5          Troni     163.503
6             VB      47.694
7            bra      218,31
8   Bele Belinha     373.454

In [557]:
df.to_excel('uotabel.xlsx')